<div class="col-md-12">
	<a href="#">Act one the Poems</a>
	<p>Lorem ipsum</p>
	<a href="#">Act one the Poems</a>
	<p>Lorem ipsum</p>
	<a href="#">Act one the Poems</a>
	<p>Lorem ipsum</p>
	<a href="#">Act one the Poems</a>
	<p>Lorem ipsum</p>
</div>