<div class="row">
  <div class="col-md-6">
    <%= link_to "Login", users_login_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
  <div class="col-md-6">
    <%= link_to "Register", users_register_path, class: "btn btn-success btn-lg btn-block" %>
  </div>
</div>
<div class="row">
</div>