<div class="col-lg-3">
    <div id="menu">
        <div class="panel list-group">
         <a href="#" class="list-group-item"><b>VIEW PROCEEDINGS</b></a>
         <a href="#" class="list-group-item" data-toggle="collapse" data-target="#program" data-parent="#menu"><b>PROGRAMS</b></a>
         <div id="program" class="sublinks collapse">
          <a class="list-group-item small" href="#">At A Glance</a>
          <a class="list-group-item small" href="#">Full Programs</a>
         </div>

          <a href="#" class="list-group-item" data-toggle="collapse" data-target="#author" data-parent="#menu"><b>AUTHOR MENU</b></a>
         <div id="author" class="sublinks collapse">
           <a class="list-group-item small" href="#">Submissions</a>
           <a class="list-group-item small" href="#">Files</a>
         </div>
        </div>          
    </div>  
</div>